:root {
    --primary: #8cd3d6;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: linear-gradient(90deg, #899ec3 0%, #c29ed7 100%);
    color: #f8f8f8;
    transition: 250ms;
}

.btn--primary {
    background-color: var(--primary);
}

.btn--outline {
    background: bisque;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: white;
}

.btn--large {
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
}